$font-montserrat: 'Montserrat', sans-serif;
$font-sourcePro: 'Source Sans Pro', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

// COLORS

$linear-gradient: linear-gradient(
  45deg,
  var(--clr-primary),
  var(--clr-secondary)
);

$news-gradient: linear-gradient(to right top, #24ccfa, #3c7fd4);

$circle-border: rgba(#fff, 0.4);
$white-color: #fff;
$opacity: 0.4;
