.card {
  background-color: var(--clr-white);
  height: 51rem;
  width: 37rem;
  display: flex;
  flex-direction: column;

  @include respond(fold-phone) {
    height: 55rem;
  }

  &:hover {
    transform: scale(1.01);
  }

  &__img {
    height: 100%;
    width: 100%;
    flex: 0 0 46%;

    &--1 {
      background: no-repeat url(../../images/card-1.jpg);
    }

    &--2 {
      background: no-repeat url(../../images/card-2.jpg);
    }

    &--3 {
      background: no-repeat url(../../images/card-3.jpg);
    }

    &--4 {
      background: no-repeat url(../../images/card-3.jpg);
    }
    &--5 {
      background: no-repeat url(../../images/card-3.jpg);
    }
    &--6 {
      background: no-repeat url(../../images/card-3.jpg);
    }
    &--7 {
      background: no-repeat url(../../images/card-3.jpg);
    }
    &--8 {
      background: no-repeat url(../../images/card-3.jpg);
    }
  }

  &__body {
    padding: 1.5rem;
  }

  &__title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1.5rem;
    color: var(--clr-typography);
  }

  &__details {
    font-family: $font-openSans;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--clr-typography);
    margin-bottom: 4rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;

    &--photo {
      border-radius: 50%;
    }

    &--title {
      font-family: $font-montserrat;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin-bottom: 0.6rem;
    }
  }
}
