// Three fonts used from google
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@400;600&display=swap');

.heading-primary {
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: $font-montserrat;
  text-align: center;

  &--main {
    font-size: 4.8rem;
    line-height: 8rem;
    display: inline-block;
    font-weight: 700;
    width: 100%;

    @include respond(tab-port) {
      line-height: 4.3rem;
    }

    @include respond(phone) {
      font-size: 4.5rem;
      line-height: 4.5rem;
      margin-bottom: 1rem;
    }

    @include respond(fold-phone) {
      font-size: 3.5rem;
      line-height: 3.3rem;
    }
    @include respond(big-desktop) {
      font-size: 6rem;
    }
  }

  &--sub {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;

    @include respond(phone) {
      font-size: 1.5rem;
    }
    @include respond(big-desktop) {
      font-size: 2rem;
    }
  }
}

.heading-secondary {
  color: var(--clr-typography);
  font-family: $font-montserrat;
  text-transform: uppercase;

  &--main {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.3rem;
    margin-bottom: 2rem;
    display: block;
  }

  &--sub {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

.heading-section {
  font-family: $font-montserrat;
  font-weight: 700;
  color: var(--clr-typography);
  font-size: 4.4rem;
  line-height: 5.3rem;
  margin-bottom: 9rem;
  position: relative;
  text-transform: uppercase;

  @include respond(phone) {
    margin-bottom: 5.5rem;
  }
  &--news {
    color: var(--clr-white);
  }

  &::before {
    content: '';
    background-color: var(--clr-typography);
    width: 10rem;
    height: 0.1rem;
    position: absolute;
    left: 50%;
    top: -3rem;
    transform: translateX(-50%);
  }

  &--news::before {
    background-color: var(--clr-white);
  }
}

.address {
  font-family: $font-openSans;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--clr-black);
}

.date {
  font-family: $font-montserrat;
  color: var(--clr-primary);
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
}

.description {
  font-family: $font-openSans;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--clr-typography);
  margin-bottom: 4rem;
}
